/* Big Screens */
.toast-message {
    position: fixed;
    bottom: 10%;
    left: 30%;
    background-color: #343a40;
    width: 40%;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.toast-message span {
    font-size: 0.75rem;
    color: white;
}
/* Tablet Wide Screens */
@media (max-width: 992px) {
}

/* New Mobile Phones Wide Screens */
@media (max-width: 428px) {
    .toast-message span {
        font-size: 10px;
    }
}

/* Old Mobile Phones Wide Screens */
@media (max-width: 360px) {
}
